{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
which brew
if [[ $? != 0 ]] ; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

TERMINAL="wezterm bat yazi zsh-syntax-highlighting uv sevenzip"
VIM="neovim ripgrep lua-language-server neocmakelsp"
DEV="cmake ninja lazygit llvm"
FONTS="font-jetbrains-mono-nerd-font"
APPS="firefox thunderbird"
PYTHON="python"

brew install $TERMINAL $VIM $DEV $FONTS $PYTHON $APPS

if [ ! -e $HOME/.oh-my-zsh ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

UV_TOOLS="python-lsp-server"
for pkg in $UV_TOOLS; do
  uv tool install $pkg
done
{{ end }}
