[user]
  email = {{ .email }}
  name = Vladimir Chistyakov
[init]
  defaultBranch = main
[core]
{{- if eq .chezmoi.os "windows" }}
  autocrlf = true
{{- else }}
  autocrlf = input
{{- end }}
[pull]
  rebase = true
[status]
  branch = true
  short = true
[diff]
  renames = copies
  tool = nvimdiff
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[submodule]
  recurse = true
[rebase]
  autoStash = true
  autoSquash = true
[advice]
  detachedHead = false
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[url "git@github.com:"]
  insteadOf = "gh:"
[hook "pre-commit.pre-commit"]
	event = pre-commit
	command = pre-commit hook-impl --hook-type pre-commit --skip-on-missing-config --
[hook "pre-commit.pre-merge-commit"]
	event = pre-merge-commit
	command = pre-commit hook-impl --hook-type pre-merge-commit --skip-on-missing-config --
[hook "pre-commit.commit-msg"]
	event = commit-msg
	command = pre-commit hook-impl --hook-type commit-msg --skip-on-missing-config --
